// {
//     "presets": ["next/babel"],
//     "plugins": [["styled-components", { "ssr": true }]]
// }



// {
//   "plugins": [
//     [
//       "babel-plugin-styled-components",
//       {
//         "displayName": true,
//         "ssr": true,
//         "minify": true,
//         "transpileTemplateLiterals": false,
//         "pure": true
//       }
//     ]
//   ]
// }
{
    "presets": ["next/babel"],
    "plugins": [
      [
        "styled-components",
        {
          "ssr": true,
          "displayName": true,
          "preprocess": false
        }
      ]
    ]
  }
  
  
